.filtro{
    background-color: #172c3c !important;
}

.excel{
    background-color: #274862 !important;
}

.imprimir{
    background-color: #995052 !important;
}

.pdf{
    background-color: #d96831 !important;
}

.copy{
    background-color: #e6b33d !important;
}
